body {
    margin: 0;
    padding: 0;
  }
  
  /* Style the navigation bar */
  nav ul {
    background-color: white;
    color: #fff;
    position: absolute;
    padding: 0px;
    left: 1178px;
    padding-bottom: 55px;
    top: 3%;
  }
  
  #headerContainer {
    display: flex;
    align-items: center;
  }
  #logoText1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
  }


  
#cursive {
  font-weight: bold;
}

#logoText {
  font-weight: bold;
}
  
  .centerText { /* Corrected the class name */
    margin: 1in; /* Use "in" for inches */
    text-align: justify; /* Optional: Justify text for better alignment */
  }
  
  #centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 815px;
    position: relative;
  }
  
  .picH1 {
    position: absolute;
    top: 0;
    left: 25.5%;
    font-weight: bold; /* Use "font-weight" for bold text */
  }
  
  .image-text {
    position: absolute;
    top: 0;
    left: 25.5%;
    padding-top: 50px;
    color: rgb(202, 199, 199);
    font-size: small;
  }
  